/* All styles for your Card Components live here */


.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: auto;
    position: relative;
    margin-left: 60px;
}

.card-content {
    border: 1px solid lightgray;
    padding: 10px;
}

.banner-image {
    width: 100%;
    height: auto;
}

.card-title {
    font-weight: bold;
}

.card-bottom {
    color: darkgray
}

